<!DOCTYPE html>

<html lang="en">
	<head>
  
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CTA-Slogan Generator</title>

    <style>
.container123:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container123 {
  margin: auto;
  width:550px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 16px;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.button {
  transition-duration: 0.4s;
}
.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #000000; 
  color: white;
}
</style>

    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/styles/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/styles/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/styles/css/animate.css"/>

		<link rel="stylesheet" href="/static/styles/css/style.css" />

    <script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZXJBVDf7R4JqmSpopVPoduIGWx1IwpBM"></script>
    <script type="text/javascript" src="/static/js/plugins.js"></script>

	</head>
	<body>
	<div class="svg-wrap">
      <svg width="64" height="64" viewBox="0 0 64 64">
        <path id="arrow-left" d="M26.667 10.667q1.104 0 1.885 0.781t0.781 1.885q0 1.125-0.792 1.896l-14.104 14.104h41.563q1.104 0 1.885 0.781t0.781 1.885-0.781 1.885-1.885 0.781h-41.563l14.104 14.104q0.792 0.771 0.792 1.896 0 1.104-0.781 1.885t-1.885 0.781q-1.125 0-1.896-0.771l-18.667-18.667q-0.771-0.813-0.771-1.896t0.771-1.896l18.667-18.667q0.792-0.771 1.896-0.771z"></path>
      </svg>

      <svg width="64" height="64" viewBox="0 0 64 64">
        <path id="arrow-right" d="M37.333 10.667q1.125 0 1.896 0.771l18.667 18.667q0.771 0.771 0.771 1.896t-0.771 1.896l-18.667 18.667q-0.771 0.771-1.896 0.771-1.146 0-1.906-0.76t-0.76-1.906q0-1.125 0.771-1.896l14.125-14.104h-41.563q-1.104 0-1.885-0.781t-0.781-1.885 0.781-1.885 1.885-0.781h41.563l-14.125-14.104q-0.771-0.771-0.771-1.896 0-1.146 0.76-1.906t1.906-0.76z"></path>
      </svg>
    </div>


   <div class="container-fluid">


    <section id="header">
      <nav class="navbar navbar-fixed-top navbar-default bottom">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#header">PyGirls</a>
          </div>

          <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#header">Home</a></li>
              <li><a href="#about">About</a></li>         
			  <li><a href="#team">Team</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div> 
        </div>
      </nav>

      <!-- SLIDER -->
      <div class="header-slide">
        <section>
          <div id="loader" class="pageload-overlay" data-opening="M 0,0 0,60 80,60 80,0 z M 80,0 40,30 0,60 40,30 z">
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 80 60" preserveAspectRatio="none">
              <path d="M 0,0 0,60 80,60 80,0 Z M 80,0 80,60 0,60 0,0 Z"/>
            </svg>
          </div> 
          
          <div class="image-slide bg-fixed">
            <div class="overlay">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">

                    <div class="slider-content">
                      <h1></h1>
                      <p>We are a creative agency from Churchgate, Mumbai</p>
                    </div>

                  </div>
                </div> 
              </div>
            </div> 
          </div> 

          <nav class="nav-slide">
            <a class="prev" href="#prev">
              <span class="icon-wrap">
                <svg class="icon" width="32" height="32" viewBox="0 0 64 64">
                  <use xlink:href="#arrow-left">
                </svg>
              </span>
              <div>
                <span>Prev Photo</span>
                <h3>...</h3>
                <p>...</p>
                <img alt="Previous thumb">
              </div>
            </a>
            <a class="next" href="#next">
              <span class="icon-wrap">
                <svg class="icon" width="32" height="32" viewBox="0 0 64 64">
                  <use xlink:href="#arrow-right">
                </svg>
              </span>
              <div>
                <span>Next Photo</span>
                <h3>...</h3>
                <p>...</p>
                <img alt="Next thumb">
              </div>
            </a>
          </nav>
        </section>

        <script type="text/javascript">
        var dataHeader = [
                            {
                              bigImage :"/static/images/slide-1.jpg",
                              title : "Best Slogans Available",
							  author : "Aditi"
                            },
                            {
                              bigImage :"/static/images/slide-2.jpg",
                              title : "Enhance your Business",
                              author : "Sakshi"
                            },
                            {
                              bigImage :"/static/images/slide-3.jpg",
                              title : "Achieve Success",
                              author : "Vanshika"
                            }
                        ],
            loaderSVG = new SVGLoader(document.getElementById('loader'), {speedIn : 600, speedOut : 600, easingIn : mina.easeinout});
            loaderSVG.show()
        </script>

      </div>
    </section>

    <!-- HEADER END -->

    <div style="float:right;">
      <div id="google_translate_element"></div>
    </div>

    <br><br>
    <div class="headie" style="text-align: center;">
    <h1><b>Phrases and Slogans Maker</b></h1>
    <h3>Find Catchy Slogans or Phrases for your brand</h3>
  </div>

  <div class="box" style="text-align: center;"><br><br>
    
<h3 style="font-family: 'Lato', sans-serif;">Add Keywords and CTA</h3><br>

<form action="final" method="POST" >
  <input type="text" name="speechToText" id="speechToText" placeholder="Keywords" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;width:300px;height:40px;"/>
  <a onclick="recordspeechtotext()"> <i style="color:rgb(45, 45, 168); font-size: 22px;" class="fa fa-microphone fa-2x" aria-hidden="true"></i></a>
  <br><input type="text" name="cta" id="cta" placeholder="CTA" style="width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;width:300px;height:40px;"/><span></span>
  <a onclick="recordcta()"><i style="color:rgb(45, 45, 168);font-size: 22px;" class="fa fa-microphone fa-3x " aria-hidden="true"></i></a><br><br>
  <button type="submit" class="button" style="height: 43px;border-radius: 4px; width:110px ;color: white;background-color:rgb(64, 65, 68);border:none">Search</button>
  </form>
<br><br>



{% if(v)%}  
<h3 style="font-family: 'Lato', sans-serif;">Here are the Generated Slogans!</h3><br>
{% for i in v:%}
<div class="container123">
  <h5>{{i}}</h5>
  
</div>  
<!-- <li> </li><span></span> -->
 <br>

{% endfor %}
{% endif %}


<!-- <button id='btnSpeak' style="background-color:rgb(55, 55, 116);color:white">To Audio</button>
<br><label>Select Voice</label> <br><select id='voiceList'></select> <br><br> -->

</div>


    <!-- ABOUT -->

    <section id="about" class="light">
      <header class="title">
        <h2>About <span>Us</span></h2>
        <p>Every great business requires a bit of creativity in order to stand out. When it comes to launching a new venture or trying to revamp an existing one, your to-do list can seem a bit overwhelming. While the creative aspects of running a business might seem like the fun part, we all need a bit of inspiration from time to time to get the juices flowing.</p>
      </header>

      <div class="container">
        <div class="row table-row">
          <div class="col-sm-6 hidden-xs">
            <div class="section-content">
              <div class="big-image" style="background-image:url(/static/images/2.png)"></div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="section-content">
              <div class="about-content left animated" data-animate="fadeInLeft">
                <div class="about-icon"><i class="fa fa-code"></i></div>
                <div class="about-detail">
                  <h4>Use a slogan generator</h4>
                  <p>One way to add a little bit of life to your business or campaign is with a catchy slogan. Think about it. Major corporations have been able to win over customers for years just with the right phrasing. That’s why the right slogan can be so powerful in creating brand awareness or sparking interest in a business or new project.</p>
                </div>
              </div>

              <div class="about-content left animated" data-animate="fadeInLeft">
                <div class="about-icon"><i class="fa fa-desktop"></i></div>
                <div class="about-detail">
                  <h4>Choose the perfect tagline</h4>
                  <p>That’s it! Now it’s time to select the perfect slogan for your latest endeavor that’s sure to stick in your audience’s mind long after they first hear it. Choose from all the answers the slogan maker generates from a built-in algorithm.</p>
                </div>
              </div>

              <div class="about-content left animated" data-animate="fadeInLeft">
                <div class="about-icon"><i class="fa fa-cube"></i></div>
                <div class="about-detail">
                  <h4>Stand out in seconds!</h4>
                  <p>The slogan maker is quick, easy to use, and within nanoseconds you can have captivating phrases right at your fingertips. You can work it into the headline of your website or include it in your logo.</p>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div> 
    </section>
	
	
	  


    <!-- TEAM -->

    <section id="team" class="light">
      <header class="title">
        <h2>Creative <span>Team</span></h2>
        <p>Get more Insight to our team</p>
      </header>
      
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 text-center">
            <div class="wrap animated" data-animate="fadeInDown">
              <div class="img-team">
                <img src="/static/images/sakshi.png" alt="" class="img-circle">
              </div>

              <h3>Sakshi Dhoble</h3>
              <h5>Developer</h5>

              <p>B.E Information Technology</p>

              <div class="team-social">
                <ul class="list-inline social-list">
                  <li><i class="icon-facebook"></i></li>
                  <li><i class="icon-linkedin"></i></li>
                  <li><i class="icon-twitter"></i></li>
                  <li><i class="icon-google-plus"></i></li>
                </ul> 
              </div>                
            </div>
          </div>

          <div class="col-md-4 col-sm-6 text-center">
            <div class="wrap animated" data-animate="fadeInDown"> 
              <div class="img-team">
                <img src="/static/images/aditi.png" alt="" class="img-circle">
              </div>

              <h3>Aditi Deshmukh</h3>
              <h5>Developer</h5>

              <p>B.E Information Technology</p>

              <div class="team-social">
                <ul class="list-inline social-list">
                  <li><i class="icon-facebook"></i></li>
                  <li><i class="icon-linkedin"></i></li>
                  <li><i class="icon-twitter"></i></li>
                  <li><i class="icon-google-plus"></i></li>
                </ul> 
              </div>                
            </div>
          </div>


          <div class="col-md-4 col-sm-6 text-center">
            <div class="wrap animated" data-animate="fadeInDown"> 
              <div class="img-team">
                <img src="/static/images/vanshi.png" alt="" class="img-circle">
              </div>

              <h3>Vanshika</h3>
              <h5>Developer</h5>

              <p>B.E Information Technology</p>

              <div class="team-social">
                <ul class="list-inline social-list">
                  <li><i class="icon-facebook"></i></li>
                  <li><i class="icon-linkedin"></i></li>
                  <li><i class="icon-twitter"></i></li>
                  <li><i class="icon-google-plus"></i></li>
                </ul> 
              </div>                
            </div>
          </div>
        </div>
      </div>
    </section>
	
	   

    <!-- FOOTER CONTACT -->

     <section id="contact" class="dark">
      <header class="title">
        <h2>Contact <span>Us</span></h2>
      </header>

      <div class="container">
        <div class="row">
          <div class="col-md-8 animated" data-animate="fadeInLeft">
            <form action="#">
              <div class="row">
                <div class="col-md-6">
                  <textarea class="form-control" rows="1" placeholder="Name"></textarea>
                </div>
                <div class="col-md-6">
                  <textarea class="form-control" rows="1" placeholder="Email"></textarea>
                </div>
                <div class="col-md-12">
                  <textarea class="form-control" rows="3" placeholder="Tell Us Everything"></textarea>
                </div>
                <div class="col-md-12">
                  <button class="btn btn-default submit">Send Message</button>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-4 animated" data-animate="fadeInRight">
            <address>
                <span><i class="fa fa-map-marker fa-lg"></i> Marine Lines, Metro Cinema, 400001</span>
                <span><i class="fa fa-phone fa-lg"></i>(91) 992366752</span>
                <span><i class="icon-envelope fa-lg"></i> <a href="mailto:contact@example.com">pygirls@gmail.com</a></span>
                <span><i class="fa fa-globe fa-lg"></i> <a href="http://support.example.com">pygirls3support.example.com</a></span>
            </address>
          </div>
		  
        </div>
      </div>
    </section>

    <section id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Made BY <i class="fa fa-heart"></i> <a href="#">PyGirls</a></p>
            
          </div>
        </div>
      </div>
    </section>

   </div><!-- /.container-fluid -->
    
    <!-- SCRIPT -->
    <script>
      var txtInput = document.querySelector('#speechToText');
      var voiceList = document.querySelector('#voiceList');
      var btnSpeak = document.querySelector('#btnSpeak');
      var synth = window.speechSynthesis;
      var voices = [];

      PopulateVoices();
      if (speechSynthesis !== undefined) {
          speechSynthesis.onvoiceschanged = PopulateVoices;
      }

      btnSpeak.addEventListener('click', () => {
          var toSpeak = new SpeechSynthesisUtterance(txtInput.value);
          var selectedVoiceName = voiceList.selectedOptions[0].getAttribute('data-name');
          voices.forEach((voice) => {
              if (voice.name === selectedVoiceName) {
                  toSpeak.voice = voice;
              }
          });
          synth.speak(toSpeak);
      });

      function PopulateVoices() {
          voices = synth.getVoices();
          var selectedIndex = voiceList.selectedIndex < 0 ? 0 : voiceList.selectedIndex;
          voiceList.innerHTML = '';
          voices.forEach((voice) => {
              var listItem = document.createElement('option');
              listItem.textContent = voice.name;
              listItem.setAttribute('data-lang', voice.lang);
              listItem.setAttribute('data-name', voice.name);
              voiceList.appendChild(listItem);
          });

          voiceList.selectedIndex = selectedIndex;
      }
  </script>
  
  <script>
      function recordspeechtotext() {
          var recognition = new webkitSpeechRecognition();
          recognition.lang = "en-GB";

          recognition.onresult = function (event) {
              
              document.getElementById('speechToText').value = event.results[0][0].transcript;
          }
          recognition.start();

      }
  </script>

  <script>
    function recordcta() {
        var recognition = new webkitSpeechRecognition();
        recognition.lang = "en-GB";

        recognition.onresult = function (event) {
            
            document.getElementById('cta').value = event.results[0][0].transcript;
        }
        recognition.start();

    }
</script>

<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
  </script> 

<script type="text/javascript" 
 src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
</script>


    <script type="text/javascript" src="/static/js/main.js"></script>
	</body>
</html>